@keyframes arrow-jump {
  0%   { opacity: 0;}
  100% { opacity: 1; 
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    }  
}

html {
  scroll-behavior: smooth; 
}

h1, h2, h3, h4, h5, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: bold !important;
}

p, a, label, span, li {
  font-family: "Lato" !important;
}

.sectionWithBackgroundImage {
  display: none;
  height: 825px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Background images for the slideshow. This is not the best way but I can make it work for now */
#giantsMets1Slide {
  display: block;
  background-image: url('/images/slideshow-images/giantsMets1S.jpeg');
}

#giantsMets2Slide {
  background-image: url('/images/slideshow-images/giantsMets2S.jpeg');
}

#philliesEagles1Slide {
  background-image: url('/images/slideshow-images/philliesEagles1S.jpeg');
}

#yankeesChiefs1Slide {
  background-image: url('/images/slideshow-images/yankeesChiefs1S.jpeg');
}

#yankees1Slide {
  background-image: url('/images/yankees2.jpeg');
}

#chiefs1Slide {
  background-image: url('/images/chiefs2.jpeg');
}

#compass1Slide {
  background-image: url('/images/compass1.jpeg');
}

#anchor1Slide {
  background-image: url('/images/anchor1.jpeg');
}
